@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --background: 37, 67, 54;
    --foreground: 107, 138, 122;
    --primary: 183, 181, 151;
    --secondary: 218, 211, 190;
  }

  body {
    @apply bg-background text-foreground antialiased;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}
